{% extends "layouts/estructura_administrador.html" %}
{% block lateral %}
<ul>
  <a href="{{url_for('admin_personal_data', user_name = user_name)}}">
    <li >
      <div class="menu-box">
        <div >
          Datos personales
        </div>
        <img src="{{ url_for('static', filename='template_general/imagenes2/user.png') }}" width="30px" width="30px">
      </div>
    </li>
  </a>
  <a href="{{url_for('admin_academic_history', user_name = user_name)}}">
    <li style="background-color: #0099cc;">
      <div class="menu-box">
        <div >
          Datos académicos
        </div>
          <img src="{{ url_for('static', filename='template_general/imagenes2/datos_academicos.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
    </li>
  </a>
</ul>
{% endblock %}
{% block tablas %}
<div style="display:block;">
  <span style="margin-left:0px;">
    <a href="{{url_for('admin_academic_history',user_name=user_name)}}"class="btn">
      <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
    </a>
  </span>
  <div style="diplay:inline-block; text-align:center; width:80%;">
    <span class="mini-titulo">
      Listado de materias del periodo {{year}}-{{period}}
    </span>
  </div>
</div>

  <table class="center" id="table">
      <tr>
          <th>Materias</th>
          <th>Corte1</th>
          <th>Corte2</th>
          <th>Corte3</th>
          <th>Corte4</th>
          <th>Corte5</th>
          <th>Nota Final</th>
      </tr>
      {% for class in classes %}
      <tr>
          <td>{{class.0}} </td>
          <td>{{class.1}} </td>
          <td>{{class.2}} </td>
          <td>{{class.3}} </td>
          <td>{{class.4}} </td>
          <td>{{class.5}} </td>
          <td>{{class.6}} </td>
      </tr>
      {% endfor %}
  </table>
  <br>
  <br>
  <a id="downloadLink" onclick="exportF(this)" class="btn">Descargar</a>
</div>
{% endblock %}
