
<form action="{{url_for('main_teacher', user_name = user_name)}}" method="POST">
<html lang="en">
<style>

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styletemplate.css') }}" />
</head>
<body>
    <div>
        <div class="header">
            <img class="top-logo" src="{{ url_for('static', filename='template_general/imagenes/campana.png') }}">
            <a href="{{ url_for('main_window') }}">
              <img type="image" src="{{ url_for('static', filename='template_general/imagenes/logoout.jpg') }}" class="top-logo">
            </a>
        </div>
        <div class="row">
            <div class="col-3 menu">
            <ul style="list-style-type:none">
              <li><a href="{{url_for('main_teacher', user_name = user_name)}}">
              <div class="menu-box"><p>Mis materias</p><img src="{{ url_for('static', filename='template_general/imagenes/teach.png') }}" style="background-color: white;" width="30px" width="30px"></div></a></li>
              <li style="background-color: #0099cc;">
                <a href="{{url_for('class_history', user_name = user_name)}}"><div class="menu-box"><p>Historial de materias</p><img src="{{ url_for('static', filename='template_general/imagenes/history.png') }}" width="30px" width="30px" style="background-color:white ;"></div></a></li>
            </ul>
            </div>
            <div class="col-9">
            <ul style="list-style-type:none">
               {% for period in periods %}
               <a href="{{url_for('classes', user_name = user_name, year = period.0, period = period.1)}}"><li>{{period.0}}-{{period.1}}</li></a>
               {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</body>
</html>
</form>
