{% extends "layouts/estructura_profesor.html" %}
{% block lateral %}


<!-- Creacion de la barra izquierda de bloques -->
<ul>
  <a href="{{url_for('main_teacher')}}">
    <li>
      <div class="menu-box">
        <div >
          Mis materias
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes2/class.png') }}" style="background-color: white;" width="30px" width="30px">
    </div>
    </li>
  </a>
  <a href="{{url_for('class_history', user_name = user_name)}}">
    <li style="background-color: #0099cc;">
      <div class="menu-box">
        <div >
          Historial de materias
        </div>
        <img src="{{ url_for('static', filename='template_general/imagenes2/history.png') }}" width="30px" width="30px" style="background-color:white ;">
    </div>
    </li>
  </a>
</ul>
{% endblock %}
{% block tablas %}
<!-- Lista de periodos de las clases dictadas -->
<ul style="list-style-type:none">
   {% for period in periods %}
   <a href="{{url_for('classes', user_name = user_name, year = period.0, period = period.1)}}">
     <li style="font-size:30px;">
       {{period.0}}-{{period.1}}
     </li>
   </a>
   {% endfor %}
</ul>
{% endblock %}
