{% extends "layouts/estructura_profesor.html" %}
{% block lateral %}
<ul>
  <a href="{{url_for('main_teacher')}}">
    <li style="background-color: #0099cc;">
      <div class="menu-box">
        <div >
          Mis materias
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes2/class.png') }}" style="background-color: white;" width="30px" width="30px">
    </div>
    </li>
  </a>
  <a href="{{url_for('class_history', user_name = user_name)}}">
    <li>
      <div class="menu-box">
        <div >
          Historial de materias
        </div>
        <img src="{{ url_for('static', filename='template_general/imagenes2/history.png') }}" width="30px" width="30px" style="background-color:white ;">
    </div>
    </li>
  </a>
</ul>
{% endblock %}
{% block tablas %}
<div style="display:block;">
  <span style="margin-left:0px;">
    <a href="{{url_for('main_teacher', user_name = user_name)}}" class="btn">
        <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
    </a>
  </span>
  <div style="diplay:inline-block; text-align:center; width:80%;">
    <span class="mini-titulo">
      Listado de estudiantes del curso {{class_name}}
    </span>
  </div>
</div>
<table class="center" id="table">
      <tr>
          <th>Usuarios</th>
          <th>Estudiantes</th>
          <th>Corte1</th>
          <th>Corte2</th>
          <th>Corte3</th>
          <th>Corte4</th>
          <th>Corte5</th>
          <th>Nota final</th>
      </tr>
      {% for student in students_class %}
      <tr>
          <th>{{student.0}}</th>
          <td>{{student.1}} {{student.2}} {{student.3}}</td>
          <td>{{student.4}}</td>
          <td>{{student.5}}</td>
          <td>{{student.6}}</td>
          <td>{{student.7}}</td>
          <td>{{student.8}}</td>
          <td>{{student.9}}</td>
      </tr>
      {% endfor %}
  </table>
  <br>
  <br>
  <a href="{{url_for('edit_grade', user_name=user_name, class_name=class_name, group=group)}}" class="btn" style="color: black;">Editar</a>
  <a id="downloadLink" onclick="exportF(this)" class="btn" style="color: black;">Descargar</a>
  <br>
  <div style="text-align:center;">
    <form method= "POST" action="{{url_for('upload_grades_from_csv', class_name=class_name, user_name=user_name, group=group)}}" enctype=multipart/form-data>
      <input type="file" name="inputfile" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple/>
      <label for="file" class="archivo">seleccionar archivo</label>
      <input type="submit" class="btn" value="subir" >
    </form>
  </div>

</div>
{% endblock %}
