{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div style="color:red;">
{%- for msg in errors %}
{{ msg }}
{% endfor -%}
</div>
{% endif %}
{% endwith %}

{% extends "layouts/estructura_profesor.html" %}
{% block lateral %}
<ul>
    <li style="background-color: #0099cc;">
      <div class="menu-box">
        <div >
          Mis materias
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes/teach.png') }}" style="background-color: white;" width="30px" width="30px">
    </div>
    </li>
  <a href="{{url_for('class_history', user_name = user_name)}}">
    <li>
      <div class="menu-box">
        <div >
          Historial de materias
        </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/history.png') }}" width="30px" width="30px" style="background-color:white ;">
    </div>
    </li>
  </a>
</ul>
{% endblock %}
{% block tablas %}
<div style="display:block;  width:80%;">
    <span style="margin-left:0px;">
      <a href="{{url_for('show_class', user_name = user_name, class_name = class_name, group=group)}}" class="btn">
          <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
      </a>
    </span>
</div>
<br>
<form action="{{url_for('update_grade', user_name = user_name, class_name = class_name, group=group)}}" method="POST">
<table class="center table table-striped table-hover table-bordered table-sm bg-white">
          <thead>
          <tr>
              <th>Usuarios</th>
              <th>Estudiantes</th>
              <th>Corte1</th>
              <th>Corte2</th>
              <th>Corte3</th>
              <th>Corte4</th>
              <th>Corte5</th>
              <th>Nota final</th>
          </tr>
        </thead>
        <tbody>
        {% for student in students_class %}
          <tr>
              <td>{{student.0}}</td>
              <td>{{student.1}} {{student.2}} {{student.3}}</td>
              <td><input type="text" name="grade1_{{student.0}}" value="{{student.4}}" size="5"></td>
              <td><input type="text" name="grade2_{{student.0}}" value="{{student.5}}" size="5"></td>
              <td><input type="text" name="grade3_{{student.0}}" value="{{student.6}}" size="5"></td>
              <td><input type="text" name="grade4_{{student.0}}" value="{{student.7}}" size="5"></td>
              <td><input type="text" name="grade5_{{student.0}}" value="{{student.8}}" size="5"></td>
              <td> {{student.9}}</td>
          </tr>
        {% endfor %}
        </tbody>
  </table>
  <br>
  <button type="submit" class="btn">
        Guardar
  </button>
  </form>
</div>
{% endblock %}
