{% extends "layouts/estructura_profesor.html" %}
{% block lateral %}
<ul>
  <a href="{{url_for('main_teacher')}}">
    <li >
      <div class="menu-box">
        <div >
          Mis materias
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes2/class.png') }}" style="background-color: white;" width="30px" width="30px">
    </div>
    </li>
    </a>
  <a href="{{url_for('class_history', user_name = user_name)}}">
    <li style="background-color: #0099cc;">
      <div class="menu-box">
        <div >
          Historial de materias
        </div>
        <img src="{{ url_for('static', filename='template_general/imagenes2/history.png') }}" width="30px" width="30px" style="background-color:white ;">
    </div>
    </li>
  </a>
</ul>
{% endblock %}
{% block tablas %}
<div style="display:block;">
  <span style="margin-left:0px;">
    <a href="{{url_for('classes',user_name=user_name,year=year,period=period)}}" class="btn">
      <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
    </a>
  </span>
  <div style="diplay:inline-block; text-align:center; width:80%;">
    <span class="mini-titulo">
    Listado de estudiantes del curso de {{class_name}} en el periodo {{year}}-{{period}}
    </span>
  </div>
</div>
<table class="center">
        <tr>
            <th>Estudiantes</th>
            <th>Corte1</th>
            <th>Corte2</th>
            <th>Corte3</th>
            <th>Corte4</th>
            <th>Corte5</th>
            <th>Nota final</th>
        </tr>
        {% for student in students_class %}
        <tr>
            <td>{{student.1}} {{student.2}} {{student.3}}</td>
            <td>{{student.4}}</td>
            <td>{{student.5}}</td>
            <td>{{student.6}}</td>
            <td>{{student.7}}</td>
            <td>{{student.8}}</td>
            <td>{{student.9}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
</div>
{% endblock %}
