{% extends "layouts/estructura_profesor.html" %}
{% block lateral %}
<ul>
  <a href="{{url_for('main_teacher')}}">
    <li >
      <div class="menu-box">
        <div >
          Mis materias
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes2/class.png') }}" style="background-color: white;" width="30px" width="30px">
    </div>
    </li>
    </a>
  <a href="{{url_for('class_history', user_name = user_name)}}">
    <li style="background-color: #0099cc;">
      <div class="menu-box">
        <div >
          Historial de materias
        </div>
        <img src="{{ url_for('static', filename='template_general/imagenes2/history.png') }}" width="30px" width="30px" style="background-color:white ;">
    </div>
    </li>
  </a>
</ul>
{% endblock %}
{% block tablas %}
<div style="display:block;">
  <span style="margin-left:0px;">
    <a href="{{url_for('class_history',user_name=user_name)}}" class="btn">
      <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
    </a>
  </span>
  <div style="diplay:inline-block; text-align:center; width:80%;">
    <span class="mini-titulo">
      Listado de clases del periodo {{year}}-{{period}}
    </span>
  </div>
</div>
<ul style="list-style-type:none">
 {% for class in classes %}
 <a href="{{url_for('show__historic_class',user_name=user_name, class_name=class.0, year=year, period=period, group=class.1)}}">
   <li style="font-size:30px;">
     {{class.0}} G. {{class.1}}
   </li>
 </a>
 {% endfor %}
</ul>
</div>
{% endblock %}
