<form action="{{url_for('load_students')}}">
  <button class="submit">
    Listado de Estudiantes
  </button>
</form>
<form action="{{url_for('load_teachers')}}">
  <button class="submit">
    Listado de Profesores
  </button>
</form>
<form action="{{url_for('load_classes')}}">
  <button class="submit">
    Listado de Materias
  </button>
</form>
<form action="{{url_for('main_window')}}">
  <button class="submit">
    Alertas
  </button>
</form>


<form action="{{url_for('main_window')}}">
  <button class="submit">
    Log out
  </button>
</form>