<form action="{{url_for('main_student', user_name = user_name)}}" method="POST">
  <div>
  <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
          <tr>
            <td>Materias</td>
            <td>Corte1</td>
            <td>Corte2</td>
            <td>Corte3</td>
            <td>Corte4</td>
            <td>Corte5</td>
          </tr>
        </thead>
        <tbody>
          {% for class in classes %}
          <tr>
            <td>{{class.0}}</td>
            <td>{{class.1}}</td>
            <td>{{class.2}}</td>
            <td>{{class.3}}</td>
            <td>{{class.4}}</td>
            <td>{{class.5}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</form>

<form action="{{url_for('main_window')}}">
  <button class="submit">
    Log out
  </button>
</form>
