<form action="{{url_for('main_teacher')}}" method="POST">
  <div>
  <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
          <tr>
            <td>Materias</td>
          </tr>
        </thead>
        <tbody>
          {% for class in classes %}
          <tr>
          <a href="/class/{{class.2}}">{{class.2}}</a>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</form>

<form action="{{url_for('main_window')}}">
  <button class="submit">
    Log out
  </button>
</form>

