<!DOCTYPE html>
<form action="{{url_for('personal_data', user_name = user_name)}}" method="POST">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styletemplate.css') }}" />
</head>
<style>

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
</style>

<body>
    <div>
        <div class="header">
            <img class="top-logo" src="{{ url_for('static', filename='template_general/imagenes/campana.png') }}">
            <a href="{{ url_for('main_window') }}">
              <img type="image" src="{{ url_for('static', filename='template_general/imagenes/logoout.jpg') }}" class="top-logo">
            </a>
        </div>
        <div class="row">
            <div class="col-3 menu">
            <ul>
                <li><div class="menu-box"><p>Datos Personales</p><img src="{{ url_for('static', filename='template_general/imagenes/user.jpg') }}" width="30px" width="30px"></div></li>
                <li><div class="menu-box"><p>Datos académicos</p><img src="{{ url_for('static', filename='template_general/imagenes/datos_academicos.png') }}" width="30px" width="30px" style="background-color:white ;"></div></li>
            </ul>
            </div>

            <div class="col-9">
              <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
               <br>
               Nombre: {{student_data.1}} <br>
               Apellidos: {{student_data.2}} {{student_data.3}} <br>
               Código: {{student_data.0}} <br>
               Correo: {{student_data.4}} <br>
               Documento: {{student_data.5}} <br>
                <br>
                <br>
                <input type="button" onclick="habilitar()" value="Descargar">
            </div>
        </div>
    </div>
<script>
function habilitar(){
    var casillas_notas=document.getElementsByClassName("table-toggle");
    for(var i=0;i<casillas_notas.length;i++){
        casillas_notas[i].readOnly=false;
    }
    document.getElementById("boton-editar").style.backgroundColor="#073D72";
    document.getElementById("boton-editar").setAttribute("onclick","deshabilitar()");
}

function deshabilitar(){
    var casillas_notas=document.getElementsByClassName("table-toggle");
    for(var i=0;i<casillas_notas.length;i++){
        casillas_notas[i].readOnly=true;
    }
    document.getElementById("boton-editar").style.backgroundColor="white";
    document.getElementById("boton-editar").setAttribute("onclick","habilitar()");
}
</script>
</body>
</html>
</form>
