<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styletemplate.css">
</head>
<body>
    <div>
        <div class="header">
            <img class="top-logo" src="imabien/campana.png">
            <img class="top-logo" src="imabien/logoout.jpg">
        </div>
        <div class="row">
            <div class="col-3 menu">
            <ul>
                <li><div class="menu-box"><p>Estudiantes</p><img src="imabien\student.png" width="30px" width="30px"></div></li>
                <li><div class="menu-box"><p>Profesores</p><img src="imabien\profesorbien.png" width="20px" width="20px" style="background-color:white ;"></div></li>
                <li><div class="menu-box"><p>Materias</p><img src="imabien\materia.png" width="30px" width="30px"></div></li>
                <li><div class="menu-box"><p>Administrar</p><img src="imabien\admini.png" width="30px" width="30px" style="background-color:white ;"></div></li>
            </ul>
            </div>

            <form class="col-9" method="POST">
                <botton class="table-button">Volver <img src="imabien\retorno.png" height="13px" width="13px" style="border-radius: 7px;"></botton>
                <table class="center">
                    <tr>
                        <th>Materias</th>
                        <th>Corte 1</th>
                        <th>Corte 2</th>
                        <th>Corte 3</th>
                        <th>Definta</th>
                    </tr>
                    <tr>
                        <td>Juan</td>
                        <td><input type="text" name="juan-corte1" value="3.5" readonly size="5" class="table-toggle"><br></td>
                        <td><input type="text" name="juan-corte2" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="juan-corte3" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="juan-final" value="3.5" readonly size="5" class="table-toggle"></td>
                    </tr>
                    <tr>
                        <td>Bruce</td>
                        <td><input type="text" name="bruce-corte1" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="bruce-corte2" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="bruce-corte3" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="bruce-final" value="3.5" readonly size="5" class="table-toggle"></td>
                    </tr>
                    <tr>
                        <td>Chang</td>
                        <td><input type="text" name="chang-corte1" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="chang-corte2" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="chang-corte3" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="chang-final" value="3.5" readonly size="5" class="table-toggle"></td>
                    </tr>
                    <tr>
                        <td>Dorian</td>
                        <td><input type="text" name="dorian-corte1" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="dorian-corte1" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="dorian-corte1" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="dorian-corte1" value="3.5" readonly size="5" class="table-toggle"></td>
                    </tr>
                    <tr>
                        <td>marx</td>
                        <td><input type="text" name="marx-corte1" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="marx-corte1" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="marx-corte1" value="3.5" readonly size="5" class="table-toggle"></td>
                        <td><input type="text" name="marx-corte1" value="3.5" readonly size="5" class="table-toggle"></td>
                    </tr>
                </table>
                <br>
                <br>
                <input type="button" onclick="habilitar()" value="Editar" id="boton-editar">
                <input type="submit" onclick="habilitar()" value="Guardar">
                <input type="button" onclick="habilitar()" value="Descargar">
                <input type="reset" value="restaurar" onclick="deshabilitar()">
            </form>
        </div>
    </div>
<script>
function habilitar(){
    var casillas_notas=document.getElementsByClassName("table-toggle");
    for(var i=0;i<casillas_notas.length;i++){
        casillas_notas[i].readOnly=false;
    }
    document.getElementById("boton-editar").style.backgroundColor="#073D72";
    document.getElementById("boton-editar").setAttribute("onclick","deshabilitar()");
}

function deshabilitar(){
    var casillas_notas=document.getElementsByClassName("table-toggle");
    for(var i=0;i<casillas_notas.length;i++){
        casillas_notas[i].readOnly=true;
    }
    document.getElementById("boton-editar").style.backgroundColor="white";
    document.getElementById("boton-editar").setAttribute("onclick","habilitar()");
}
</script>
</body>
</html>