{% extends "layouts/estructura_administrador.html" %}

{% block lateral %}
  <ul>
    <a href="{{url_for('load_students')}}">
      <li>
        <div class="menu-box">
          <div >
            Estudiantes
          </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/student.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
      </li>
    </a>
    <a href="{{url_for('load_teachers')}}">
      <li>
        <div class="menu-box">
          <div >
            Profesores
          </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/profesorbien.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
      </li>
    </a>
    <a href="{{url_for('historic_class')}}">
          <li style="background-color: #0099cc;">
            <div class="menu-box">
              <div >
                Materias
              </div>
            <img src="{{ url_for('static', filename='template_general/imagenes/materia.png') }}" width="30px" width="30px" style="background-color:white ;">
            </div>
          </li>
    </a>
    <a href="{{url_for('admin_functions')}}">
          <li>
            <div class="menu-box">
              <div >
                Administración
              </div>
            <img src="{{ url_for('static', filename='template_general/imagenes/campana.png') }}" width="30px" width="30px" style="background-color:white ;">
            </div>
          </li>
    </a>
  </ul>
{% endblock %}
{% block tablas %}
<div style="display:block;">
  <span style="margin-left:0px;">
    <a href="{{url_for('load_groups',class_name=class_name)}}" class="btn">
      <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
    </a>
  </span>
  <div style="display:inline-block; text-align:center; width:80%;">
    <span class="mini-titulo">
     Listado de estudiantes del curso {{class_name}} grupo {{group}} por {{teacher.0}} {{teacher.1}}
    </span>
  </div>
</div>
 <table class="center" id="table">
       <tr>
           <th>Estudiantes</th>
           <th>Corte1</th>
           <th>Corte2</th>
           <th>Corte3</th>
           <th>Corte4</th>
           <th>Corte5</th>
           <th>Nota final</th>
       </tr>
       {% for student in students_class %}
       <tr>
           <td>{{student.1}} {{student.2}} {{student.3}}</td>
           <td>{{student.4}}</td>
           <td>{{student.5}}</td>
           <td>{{student.6}}</td>
           <td>{{student.7}}</td>
           <td>{{student.8}}</td>
           <td>{{student.9}}</td>
       </tr>
       {% endfor %}
   </table>
   <br>
   <br>
   <a onclick="exportF(this)" download class="btn" style="color: black;">Descargar</a>
{% endblock %}
