
{% extends "layouts/estructura_administrador.html" %}

{% block war %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div style="color:red; text-align:center; font-size:30px;">
{%- for msg in errors %}
{{ msg }}
{% endfor -%}
</div>
{% endif %}
{% endwith %}

{% endblock %}

{% block lateral %}
<ul>
  <a href="{{url_for('load_students')}}">
    <li>
      <div class="menu-box">
        <div >
          Estudiantes
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes2/teacher.png') }}" width="30px" width="30px" style="background-color:white ;">
      </div>
    </li>
  </a>
  <a href="{{url_for('load_teachers')}}">
    <li>
      <div class="menu-box">
        <div >
          Profesores
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes2/class.png') }}" width="30px" width="30px" style="background-color:white ;">
      </div>
    </li>
  </a>
  <a href="{{url_for('historic_class')}}">
        <li style="background-color: #0099cc;">
          <div class="menu-box">
            <div >
              Materias
            </div>
          <img src="{{ url_for('static', filename='template_general/imagenes2/keys.png') }}" width="30px" width="30px" style="background-color:white ;">
        </li>
  </a>
  <a href="{{url_for('admin_functions')}}">
        <li>
          <div class="menu-box">
            <div >
              Administración
            </div>
          <img src="{{ url_for('static', filename='template_general/imagenes2/search.png') }}" width="30px" width="30px" style="background-color:white ;">
          </div>
        </li>
  </a>
</ul>
{% endblock %}
{% block tablas %}
<form action="{{url_for('admin_update_class', year=year, period=period)}}" method="POST">
<div style="display:block;">
<span style="margin-left:0px;">
  <a href="{{url_for('load_classes', year=year, period=period)}}" class="btn">
    <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
  </a>
</span>
</div>
<br>
<table class="center">
    <tr>
        <th>Asignaturas</th>
        <th>Código</th>
        <th>Créditos</th>
        <th>% Corte 1</th>
        <th>% Corte 2</th>
        <th>% Corte 3</th>
        <th>% Corte 4</th>
        <th>% Corte 5</th>
    </tr>
    {% for class_name in classes %}
    <tr>
        <td>{{class_name.0}} </td>
        <td>{{class_name.1}} </td>
        <td><input type="text" name="credit_{{class_name.1}}" value="{{class_name.2}}" size="5"></td>
        <td><input type="text" name="term1_{{class_name.1}}" value="{{class_name.3}}" size="5"></td>
        <td><input type="text" name="term2_{{class_name.1}}" value="{{class_name.4}}" size="5"></td>
        <td><input type="text" name="term3_{{class_name.1}}" value="{{class_name.5}}" size="5"></td>
        <td><input type="text" name="term4_{{class_name.1}}" value="{{class_name.6}}" size="5"></td>
        <td><input type="text" name="term5_{{class_name.1}}" value="{{class_name.7}}" size="5"></td>

    </tr>
    {% endfor %}
</table>
<br>

<button type="submit" class="btn">
      Guardar
</button>
</div>
</form>
{% endblock %}
