{% extends "layouts/estructura_administrador.html" %}

{% block busqueda %}
<div class="barra-busqueda">
  <form autocomplete="off" class="barra-form">
    <div class="autocomplete" style="width:300px;">
      <input id="myInput" type="text" name="myCountry" placeholder="Estudiante" autocomplete="off">
    </div>
    <input class="boton-busqueda" type="button" value="buscar" onclick="azulfiltro()">
  </form>
</div>
{% endblock %}

{% block lateral %}
  <ul>
    <a href="{{url_for('load_students')}}">
      <li style="background-color: #0099cc;">
        <div class="menu-box">
          <div >
            Estudiantes
          </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/student.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
      </li>
    </a>
    <a href="{{url_for('load_teachers')}}">
      <li>
        <div class="menu-box">
          <div >
            Profesores
          </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/profesorbien.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
      </li>
    </a>
    <a href="{{url_for('historic_class')}}">
          <li>
            <div class="menu-box">
              <div >
                Materias
              </div>
            <img src="{{ url_for('static', filename='template_general/imagenes/materia.png') }}" width="30px" width="30px" style="background-color:white ;">
            </div>
          </li>
    </a>
    <a href="{{url_for('admin_functions')}}">
          <li>
            <div class="menu-box">
              <div >
                Administración
              </div>
            <img src="{{ url_for('static', filename='template_general/imagenes/campana.png') }}" width="30px" width="30px" style="background-color:white ;">
            </div>
          </li>
    </a>
  </ul>
{% endblock %}

{% block tablas %}
<a href="{{url_for('main_admin')}}" class="btn">
    <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
</a>
<ul class="ul_bloques" id="lista-estudiantes">
   {% for student in students %}
   <a href="{{url_for('admin_main_student', user_name = student.0)}}">
     <li style="font-size:20px;">
       <!--<p class="bloque_est">-->
       <div style="display:inline-block; font-size:28px">
         {{student.1}} {{student.2}} {{student.3}}
       </div>
       <!--</p>-->
       <a href="{{url_for('student_historic_report', user_name = student.0)}}">
         <img class="reporte-Estudiantes" width="50" height="50" src="{{ url_for('static', filename='template_general/imagenes/bar_plot.png') }}">
       </a>
       <br>
      Creditos: {{student.4}} Promedio: {{student.5}}
     {% endfor %}
     </li>
   </a>
</ul>
{% endblock %}


{% block code %}

<script>
  function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

var estudiantes={{students | tojson}};
var nombres=new Array(estudiantes.length);
for(var i=0;i<estudiantes.length;i++){
  nombres[i]=estudiantes[i][1]+" "+estudiantes[i][2]+" "+estudiantes[i][3];
}
autocomplete(document.getElementById("myInput"), nombres);

function azulfiltro(){
  var nombre=document.getElementById("myInput").value;
  var lista=document.getElementById("lista-estudiantes")
  for(var i=0;i<lista.childNodes.length;i++){
    if (lista.childNodes[i].nodeName != "LI") {
        continue;
    }
    if(lista.childNodes[i].childNodes[0].text.toLowerCase().includes(nombre.toLowerCase()))  {
      lista.childNodes[i].style.display="list-item";
      lista.childNodes[i].style.transform="translate3d(0,0,0)";
    } else {
      lista.childNodes[i].style.display="none";
    }
  }
}

</script>

{% endblock %}
