
{% extends "layouts/estructura_administrador.html" %}

{% block busqueda %}
<div class="barra-busqueda">
  <form autocomplete="off" class="barra-form">
    <div class="autocomplete" style="width:300px;">
      <input id="myInput" type="text" placeholder="Materia" autocomplete="off">
    </div>
    <input class="boton-busqueda" type="button" value="buscar" onclick="azulfiltro()">
  </form>
</div>
{% endblock %}

{% block war %}
{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div style="color:red; text-align:center; font-size:30px;">
{%- for msg in errors %}
{{ msg }}
{% endfor -%}
</div>
{% endif %}
{% endwith %}

{% endblock %}

{% block lateral %}
<ul>
  <a href="{{url_for('load_students')}}">
    <li>
      <div class="menu-box">
        <div >
          Estudiantes
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes2/teacher.png') }}" width="30px" width="30px" style="background-color:white ;">
      </div>
    </li>
  </a>
  <a href="{{url_for('load_teachers')}}">
    <li>
      <div class="menu-box">
        <div >
          Profesores
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes2/class.png') }}" width="30px" width="30px" style="background-color:white ;">
      </div>
    </li>
  </a>
  <a href="{{url_for('historic_class')}}">
        <li style="background-color: #0099cc;">
          <div class="menu-box">
            <div >
              Materias
            </div>
          <img src="{{ url_for('static', filename='template_general/imagenes2/keys.png') }}" width="30px" width="30px" style="background-color:white ;">
        </li>
  </a>
  <a href="{{url_for('admin_functions')}}">
        <li>
          <div class="menu-box">
            <div >
              Administración
            </div>
          <img src="{{ url_for('static', filename='template_general/imagenes2/search.png') }}" width="30px" width="30px" style="background-color:white ;">
          </div>
        </li>
  </a>
</ul>
{% endblock %}
{% block tablas %}
<div>
  <a href="{{url_for('historic_class')}}" class="btn">
        <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
  </a>
</div>
<div>
<ul style="list-style-type:none" id="lista-clases">
  {% for class_name in classes %}
  <a href="{{url_for('load_groups',class_name=class_name.0, year=year, period=period)}}">
    <li style="font-size:18px;">
      <div>
        <div style="display:inline-block; font-size:28px;">
            {{class_name.0}}
        </div>
        <div style="display:inline-block; float:right">
          <a href="{{url_for('groups_report',class_name=class_name.0, year=year, period=period)}}">
            <img width="50" height="50" style="margin-right: 20px; padding: 5px; float: right; background-color: white; border-radius: 10px;" src="{{ url_for('static', filename='template_general/imagenes2/scatter.png') }}">
          </a>
        </div>
        <br>
          Código: {{class_name.1}} &nbsp &nbsp &nbsp &nbsp
          Créditos: {{class_name.2}} &nbsp &nbsp &nbsp &nbsp
      </div>
      {% endfor %}
    </li>
  </a>
</ul>
</div>
<a href="{{url_for('admin_edit_class', year=year, period=period)}}" class="btn">Editar</a>
{% endblock %}

{% block code %}



<script>

  function autocomplete(inp, arr) {
  var currentFocus;
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a);
      for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          b = document.createElement("DIV");
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          b.addEventListener("click", function(e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) { //up
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}


  var nombres={{nombres_mat | tojson}};
  /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
  autocomplete(document.getElementById("myInput"), nombres);

function azulfiltro(){
  var nombre=document.getElementById("myInput").value;
  var lista=document.getElementById("lista-clases")
  for(var i=0;i<lista.childNodes.length;i++){
    if (lista.childNodes[i].nodeName != "LI") {
        continue;
    }
    if(lista.childNodes[i].childNodes[1].childNodes[0].text.toLowerCase().includes(nombre.toLowerCase()))  {
      lista.childNodes[i].style.display="list-item";
      lista.childNodes[i].style.transform="translate3d(0,0,0)";
    } else {
      lista.childNodes[i].style.display="none";
    }
  }
}


</script>


{% endblock %}
