{% extends "layouts/estructura_administrador.html" %}

{% block lateral %}
<ul>
  <a href="{{url_for('load_students')}}">
    <li>
      <div class="menu-box">
        <div >
          Estudiantes
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes2/teacher.png') }}" width="30px" width="30px" style="background-color:white ;">
      </div>
    </li>
  </a>
  <a href="{{url_for('load_teachers')}}">
    <li>
      <div class="menu-box">
        <div >
          Profesores
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes2/class.png') }}" width="30px" width="30px" style="background-color:white ;">
      </div>
    </li>
  </a>
  <a href="{{url_for('historic_class')}}">
        <li style="background-color: #0099cc;">
          <div class="menu-box">
            <div >
              Materias
            </div>
          <img src="{{ url_for('static', filename='template_general/imagenes2/keys.png') }}" width="30px" width="30px" style="background-color:white ;">
        </li>
  </a>
  <a href="{{url_for('admin_functions')}}">
        <li>
          <div class="menu-box">
            <div >
              Administración
            </div>
          <img src="{{ url_for('static', filename='template_general/imagenes2/search.png') }}" width="30px" width="30px" style="background-color:white ;">
          </div>
        </li>
  </a>
</ul>
{% endblock %}
{% block tablas %}
<a href="{{url_for('load_classes',year=year,period=period)}}" class="btn">
  <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
</a>
<table class="center">
    <tr>
        <th>Grupo</th>
        <th>Profesor</th>
    </tr>
    {% for group in groups %}
    <tr>
        <td>{{group.1}}</td>
        <td><a href="{{url_for('admin_show_group_class', user_name=group.2, class_name=group.0, group=group.1, year=year, period=period)}}" style="color: black;">{{group.3}}{{group.4}}{{group.5}}</a></td>
    </tr>
    {% endfor %}
</table>
<br>
<br>
{% endblock %}
