{% extends "layouts/estructura_administrador.html" %}

{% block lateral %}
  <ul>
    <a href="{{url_for('load_students')}}">
      <li style="background-color: #0099cc;">
        <div class="menu-box">
          <div >
            Estudiantes
          </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/student.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
      </li>
    </a>
    <a href="{{url_for('load_teachers')}}">
      <li>
        <div class="menu-box">
          <div >
            Profesores
          </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/profesorbien.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
      </li>
    </a>
    <a href="{{url_for('historic_class')}}">
          <li>
            <div class="menu-box">
              <div >
                Materias
              </div>
            <img src="{{ url_for('static', filename='template_general/imagenes/materia.png') }}" width="30px" width="30px" style="background-color:white ;">
            </div>
          </li>
    </a>
    <a href="{{url_for('admin_functions')}}">
          <li>
            <div class="menu-box">
              <div >
                Administración
              </div>
            <img src="{{ url_for('static', filename='template_general/imagenes/campana.png') }}" width="30px" width="30px" style="background-color:white ;">
            </div>
          </li>
    </a>
  </ul>
{% endblock %}

{% block tablas %}
<a href="{{url_for('main_admin')}}" class="btn">
    <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
</a>
<ul class="ul_bloques">
   {% for student in students %}
   <a href="{{url_for('admin_main_student')}}">
     <li style="font-size:20px;">
       <!--<p class="bloque_est">-->
       {{student.1}} {{student.2}} {{student.3}}
       <!--</p>-->
       <a href="{{url_for('student_historic_report', user_name = student.0)}}">
         <img class="reporte-Estudiantes" width="50" height="50" src="{{ url_for('static', filename='template_general/imagenes/bar_plot.png') }}">
       </a>
       <br>
      Creditos: {{student.4}} Promedio: {{student.5}}
     {% endfor %}
     </li>
   </a>
</ul>
{% endblock %}
