{% extends "layouts/estructura_administrador.html" %}

{% block lateral %}
  <ul>
    <a href="{{url_for('load_students')}}">
      <li>
        <div class="menu-box">
          <div >
            Estudiantes
          </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/student.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
      </li>
    </a>
    <a href="{{url_for('load_teachers')}}">
      <li>
        <div class="menu-box">
          <div >
            Profesores
          </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/profesorbien.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
      </li>
    </a>
    <a href="{{url_for('historic_class')}}">
          <li>
            <div class="menu-box">
              <div >
                Materias
              </div>
            <img src="{{ url_for('static', filename='template_general/imagenes/materia.png') }}" width="30px" width="30px" style="background-color:white ;">
            </div>
          </li>
    </a>
    <a href="{{url_for('admin_functions')}}">
          <li>
            <div class="menu-box">
              <div >
                Administración
              </div>
            <img src="{{ url_for('static', filename='template_general/imagenes/campana.png') }}" width="30px" width="30px" style="background-color:white ;">
            </div>
          </li>
    </a>
  </ul>
{% endblock %}
{% block tablas %}
<a href="{{url_for('main_admin')}}" class="btn">
  <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
</a>
<table class="center" id="table">
<tr>
    <th>Estudiante</th>
    <th>Fecha</th>
    <th>Materia</th>
    <th> Tipo </th>
    <th>Alerta</th>
    <th>Borrar Alerta </th>
    
</tr>
{% for alert in unread_alerts%}
<tr style="text-align: center;" id="{{alert.9}}/{{alert.5}}">
    <td>{{alert.0}} {{alert.1}} {{alert.2}}</td>
    <td>{{alert.5}} </td>
    <td>{{alert.7}} </td>
    <td>{{alert.4}} </td>
    <td>{{alert.3}} </td>
 <td><a href="{{url_for('delete_alerts', user_name=alert.9, date = alert.5, user_type='admin')}}" class="btn">
                      Borrar
                  </a></td>
</tr>
{% endfor %}
<br>
{% for alert in read_alerts%}
<tr style="text-align: center;" id="{{alert.9}}/{{alert.5}}">
    <td>{{alert.0}} {{alert.1}} {{alert.2}}</td>
    <td>{{alert.5}} </td>
    <td>{{alert.7}} </td>
    <td>{{alert.4}} </td>
    <td>{{alert.3}} </td>
    <td><a href="{{url_for('delete_alerts', user_name=alert.9, date = alert.5, user_type='admin')}}" class="btn">
                      Borrar
                  </a></td>
</tr>
{% endfor %}
</table>
<br>
<a href="{{url_for('create_alert')}}" class="btn">Alerta personalizada</a>
{% endblock %}
