<!DOCTYPE html>

<form action="{{url_for('login')}}" method="POST">

	<html lang="en">
	<head>
		<title>Login V1</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='login/images/icons/favicon.ico') }}" />
		<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/bootstrap/css/bootstrap.min.css') }}" />
	<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
	<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/animate/animate.css') }}" />
	<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/css-hamburgers/hamburgers.min.css') }}" />
	<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/select2/select2.min.css') }}" />
	<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/util.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/main.css') }}" />
	<!--===============================================================================================-->
    
    <style> 
    .error {
    color: red;
    opacity: 1; 
    }
    </style>
	</head>
	<body>

		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<!--<div class="login100-pic js-tilt" data-tilt>
						<img src="images/epsilon.png" alt="IMG">
					</div>-->
					<form class="login100-form validate-form">
						<span class="login100-form-title">
							Ingreso al sistema de notas Epsilon
							{% with errors = get_flashed_messages(category_filter=["error"]) %}
							{% if errors %}
                            <div style="color:red;">
                            {%- for msg in errors %}
                            {{ msg }}
                            {% endfor -%}
                            </div>
                            {% endif %}
                            {% endwith %}
						</span>
                        <div class="container-login100-form-btn">
                            <a href="{{url_for('main_admin')}}"><div class="menu-box"><p>Administrador</p><img src="{{ url_for('static', filename='template_general/imagenes/user.jpg') }}" width="30px" width="30px"></div></a>
						</div>
						<div class="container-login100-form-btn">
                            <a href="{{url_for('main_teacher', user_name = user_name)}}"><div class="menu-box"><p>Profesor</p><img src="{{ url_for('static', filename='template_general/imagenes/user.jpg') }}" width="30px" width="30px"></div></a>
						</div>
					</form>
				</div>
			</div>
		</div>
