{% extends "layouts/estructura_administrador.html" %}

{% block lateral %}
  <ul>
    <a href="{{url_for('load_students')}}">
      <li>
        <div class="menu-box">
          <div >
            Estudiantes
          </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/student.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
      </li>
    </a>
    <a href="{{url_for('load_teachers')}}">
      <li>
        <div class="menu-box">
          <div >
            Profesores
          </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/profesorbien.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
      </li>
    </a>
    <a href="{{url_for('historic_class')}}">
          <li>
            <div class="menu-box">
              <div >
                Materias
              </div>
            <img src="{{ url_for('static', filename='template_general/imagenes/materia.png') }}" width="30px" width="30px" style="background-color:white ;">
            </div>
          </li>
    </a>
    <a href="{{url_for('admin_functions')}}">
          <li  style="background-color: #0099cc;">
            <div class="menu-box">
              <div >
                Administración
              </div>
            <img src="{{ url_for('static', filename='template_general/imagenes/campana.png') }}" width="30px" width="30px" style="background-color:white ;">
            </div>
          </li>
    </a>
  </ul>
{% endblock %}
{% block tablas %}
<a href="{{url_for('admin_functions')}}" class="btn">
    <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
</a>
<ul style="list-style-type:none">
  <div style="background-color: white; border: 1px solid black; padding: 10px;">
  
   <form method= "POST" action="{{url_for('upload_new_user')}}" id="user_upload" enctype=multipart/form-data>
   Seleccione el(los) tipo de usuario que va a crear
   
   <label for="user_role"></label>
       <select name="user_role" id="role" form="user_upload">
         <option value="Estudiante">Estudiante</option>
         <option value="Profesor">Profesor</option>
         <option value="Administrador">Administrador</option>
       </select>
    <br>
    Seleccione a continuación el archivo con los datos de los nuevos usuarios que desea crear:

      <div style="text-align: center;">
        <input type="file" name="inputfile" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple/>
        <label for="file" class="archivo">seleccionar archivo</label>
        <input type="submit" class="btn" value="subir" >
      </div>
    </form>
  </div>
</div>
</ul>
{% endblock %}
