{% extends "layouts/estructura_administrador.html" %}

{% block lateral %}
  <ul>
    <a href="{{url_for('load_students')}}">
      <li>
        <div class="menu-box">
          <div >
            Estudiantes
          </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/student.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
      </li>
    </a>
    <a href="{{url_for('load_teachers')}}">
      <li>
        <div class="menu-box">
          <div >
            Profesores
          </div>
        <img src="{{ url_for('static', filename='template_general/imagenes/profesorbien.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
      </li>
    </a>
    <a href="{{url_for('load_classes')}}">
          <li>
            <div class="menu-box">
              <div >
                Materias
              </div>
            <img src="{{ url_for('static', filename='template_general/imagenes/materia.png') }}" width="30px" width="30px" style="background-color:white ;">
            </div>
          </li>
    </a>
    <a href="{{url_for('admin_functions')}}">
          <li  style="background-color: #0099cc;">
            <div class="menu-box">
              <div >
                Administración
              </div>
            <img src="{{ url_for('static', filename='template_general/imagenes/campana.png') }}" width="30px" width="30px" style="background-color:white ;">
            </div>
          </li>
    </a>
  </ul>
{% endblock %}
{% block tablas %}
<a href="{{url_for('main_admin')}}" class="btn">
    <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
</a>
<ul style="list-style-type:none">
<form method= "POST" action="/upload_{{data_type}}" enctype=multipart/form-data>
{% if data_type=='students' %}

Seleccione el periodo académico para el cual desea cargar sus archivos:
<br>
Año: <input type="text" name="year" placeholder="Año">
<br>
Periodo: <input type="text" name="period" placeholder="Periodo">
<br>
Seleccione a continuación el archivo de estudiantes que desea importar:
<br>
{% endif %}

{% if data_type=='classes' %}
El archivo de estudiantes fue importado exitosamente.
<br>
Seleccione a continuación el archivo de asignaturas que desea importar:
<br>
{% endif %}

{% if data_type=='teachers' %}

Seleccione a continuación el archivo con los datos de profesores que desea importar:
{% endif %}
          <input type="file" name="inputfile" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple/>
          <label for="file" class="archivo">seleccionar archivo</label>
          <input type="submit" class="btn" value="subir" >
 </form>
</ul>
{% endblock %}
