{% extends "layouts/estructura_estudiante.html" %}
{% block lateral %}
<ul>
  <a href="{{url_for('personal_data')}}">
    <li style="background-color: #0099cc;">
      <div class="menu-box">
        <div >
          Datos personales
        </div>
        <img src="{{ url_for('static', filename='template_general/imagenes2/user.png') }}" width="30px" width="30px">
      </div>
    </li>
  </a>
  <a href="{{url_for('academic_history')}}">
    <li>
      <div class="menu-box">
        <div >
          Datos académicos
        </div>
          <img src="{{ url_for('static', filename='template_general/imagenes2/datos_academicos.png') }}" width="30px" width="30px" style="background-color:white ;">
        </div>
    </li>
  </a>
</ul>
{% endblock %}
{% block tablas %}
<a href="{{url_for('main_student')}}" class="btn">
<img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px"></a>
<table class="center" id="table" cellspacing="0" cellpadding="0" style="border:none !important;">
  <tr>
    <td>Nombre: {{student_data.1}}</td>
  </tr>
  <tr>
    <td>Apellidos: {{student_data.2}} {{student_data.3}} </td>
  </tr>
  <tr>
    <td>Código: {{student_data.0}} </td>
  </tr>
  <tr>
    <td>Correo: {{student_data.4}} </td>
  </tr>
  <tr>
    <td>Documento: {{student_data.5}} </td>
  </tr>
</table>
<br>
<a id="downloadLink" onclick="exportF(this)" class="btn">Descargar</a>

{% endblock %}
