{% extends "layouts/estructura_administrador.html" %}

{% block lateral %}
<ul>
  <a href="{{url_for('load_students')}}">
    <li>
      <div class="menu-box">
        <div >
          Estudiantes
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes2/teacher.png') }}" width="30px" width="30px" style="background-color:white ;">
      </div>
    </li>
  </a>
  <a href="{{url_for('load_teachers')}}">
    <li style="background-color: #0099cc;">
      <div class="menu-box">
        <div >
          Profesores
        </div>
      <img src="{{ url_for('static', filename='template_general/imagenes2/class.png') }}" width="30px" width="30px" style="background-color:white ;">
      </div>
    </li>
  </a>
  <a href="{{url_for('historic_class')}}">
        <li>
          <div class="menu-box">
            <div >
              Materias
            </div>
          <img src="{{ url_for('static', filename='template_general/imagenes2/keys.png') }}" width="30px" width="30px" style="background-color:white ;">
          </div>
        </li>
  </a>
  <a href="{{url_for('admin_functions')}}">
        <li>
          <div class="menu-box">
            <div >
              Administración
            </div>
          <img src="{{ url_for('static', filename='template_general/imagenes2/search.png') }}" width="30px" width="30px" style="background-color:white ;">
          </div>
        </li>
  </a>
</ul>
{% endblock %}

{% block tablas %}
        <div style="display:block;">
              <span style="margin-left:0px;">
                  <a href="{{url_for('load_teachers')}}" class="btn">
                    <img src="{{ url_for('static', filename='template_general/imagenes/retorno.png') }}" height="13px" width="13px">
                  </a>
                </span>
                <div style="diplay:inline-block; text-align:center; width:80%;">
                  <span class="mini-titulo">
                {{teacher.0}} {{teacher.1}} {{teacher.2}}
                  </span>
                </div>
              </div>
            <ul style="list-style-type:none">
               <table class="center">
                     {% for period in periods %}
                     <a href="{{url_for('admin_teacher_classes', user_name = user_name, year = period.0, period = period.1)}}">
                       <li style="font-size:30px;">
                         {{period.0}}-{{period.1}}
                     </li>
                   </a>
                     {% endfor %}
              </table>
            </ul>
            </div>
{% endblock %}
